*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    background: #000;
    }
.TelaInicial
    {
    width: 150px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    }