*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: rgb(11, 11, 11);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
    
.logo 
{
    width: 200px;
    top: 0px;
    position: absolute;
    animation: example 2s forwards; 
    z-index: 1; 
}
  
@keyframes example 
{
    0% { top: 0px;opacity: 0; }
    100% { top: 260px; opacity: 1; }
}

.circulo
{
    width: 140px;
    height: 140px;
    position: absolute;
    top: 295px;
    background-color: rgb(99, 80, 12);
    z-index: 0;
    border-radius: 100px;
    opacity: 0;
    animation: acender 1s forwards;
    animation-delay: 2s;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

@keyframes acender
{
    0%{ opacity: 0;}
    100%{ opacity: 1;}
}